nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            div.container
                a.navbar-brand(href='#') gag0
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                div.collapse.navbar-collapse(id='navbarsExampleDefault')
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='#') Main
                                span.sr-only (current)
                        li.nav-item.active
                            a.nav-link(href='#') Fresh
                    ul.navbar-nav.ml-auto
                        li.navitem
                            a.nav-link(href='#') Log in
                    button.btn.btn-primary Sign up