include ../partial/post.pug
doctype html  
html(lang='en')  
    head
        title index
        include ../partial/head.pug
    body
        include ../partial/header.pug
        
        .container(role='main')
            .mb-3 
            each val in [1,2]
                +create-post(val)
            .row
                .col.text-center
                    button.btn.btn-primary.btn-lg.btn-block.mb-3 Next page
                    .btn-group.myCenter(role='group', aria-label='Basic example')
                        button.btn.btn-secondary 1
                        button.btn.btn-secondary 2
                        button.btn.btn-secondary 3
                        button.btn.btn-secondary ...
          
        include ../partial/foot.pug