doctype html  
html(lang='en')  
    head
        title index
        include ../partial/head.pug
    body
        include ../partial/header.pug
        
        .container(role='main')
            
                

          
        include ../partial/foot.pug