doctype html  
html(lang='en')  
    head
        title Pug
    body
        
        form(action = '/login')
            h3 Login
            input(name='username')
            h3 Password
            input(name='password')
            button(type='submit') Sign in